@model IEnumerable<XrpSolutions.Models.StockTransactionFile>

@{
    ViewBag.Title = "Index";
}

<h2>Stock Transaction Files</h2>



<div class="row">
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

    <!-- ============================================================== -->
    <!-- basic table  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <p>
                <div class=" btn btn-default">
                    @Html.ActionLink("Create New", "Create")
                </div>
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Stock.StockDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DocumentNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitSell)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock.StockDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitSell)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.StockTransactionId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.StockTransactionId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.StockTransactionId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#table_id').DataTable();
        });

    </script>
}

