@model XrpSolutions.Models.StockMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stock Master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyPurchased)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyPurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtySold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtySold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockOnHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockOnHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPurchasesExclVat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPurchasesExclVat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSalesexclvat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSalesexclvat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
